/*.fish {}
.fish_name {}
#fishtank {}*/

.pageHeader {
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.mainContainer {
    display: flex;
}


img {
width: 300px;
}

.fishList {
    background-color: gainsboro;
}

.firstFish {
    background-color: aquamarine;
    flex: auto;
}

.secondFish {
    background-color: cadetblue;
}

.thirdFish {
    background-color: coral;
}

.travel {
    background-color: lightblue;
}



.Locations {
    background-color: orange;
}

.locations__one {
    background-color: orchid;
}

.locations__two {
    background-color: tomato;
}

.locations__three {
    background-color: teal;
}



.tips__clownfish {
    background-color: rgb(155, 90, 90);
}

.tips__lionfish {
    background-color:  rgb(155, 90, 90);
}

.tips__triggerfish {
    background-color:  rgb(155, 90, 90);
}

/* .rightContainer {
    display: flex;
    justify-content: flex-end;
}  */

.fishContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
        padding: .5em;
        margin: 1em;
}

.fishList {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.fish {
        border: 1px solid black;
        padding: .5em;
        margin: 2em;
        text-align: center;
        flex-direction: row;
}

.lengthItems {
    text-align: center;
    font-size: 22px;
}

.locationItems {
    text-align: center;
    font-size: 22px;
}

.dietItems {
    text-align: center;
    font-size: 22px;
}


.factHeading {
    text-align: center;
    font-size: 25px;
    text-emphasis: bold;
}

.travelListHeading {
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.QuoteList {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    

}

.Quote {
        
        padding: .5em;
        margin: .5em;
        text-align: center;
        flex-direction: row;
        justify-content: center;
}

#quoteText {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

#quoteAuthor {
    font-size: 23px;
    
    
}

#quoteAuthorTwo {
    font-size: 15px;
    
}

.LocationListHeading {
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.locationList {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.harvestItems {
        border: 1px solid black;
        padding: .5em;
        margin: 2em;
        text-align: center;
        flex-direction: row;
}

.fishListTips {
    display: flex;  
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 3px solid black;
        padding: 5em;
        margin: 2em;
        padding-top: .5em;
        padding-bottom: .5em;

}

.fishTips {
        border: 3px solid black;
        padding: 5em;
        margin: 2em;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        
}

.tipsHeading {
    text-align: center;
    font-size: 35px;
    font-style: italic
}